* {
  margin: 0;
  padding: 0;

}

img {
  max-width: 100%;
  vertical-align: middle;
}

:root {
  background: rgb(255, 255, 255);
  color: white;
}


#canvas {

  width: 100%;
}


.App {
display: flex;
flex-direction: column;
align-items: center;
font-family: Poppins, sans-serif; 
color: rgb(18, 36, 50);
}


.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;

}

.mainPic {
  max-width: 400px;
  width: 100%;
  border-radius: 50px;

}

@media (min-width: 800px) {
  .mainPic {
    max-width: 400px;
    width: 100%;
    border-radius: 50px;
    padding-right: 0px;
  }
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.topic1 {
  padding-bottom: 40px;
  opacity: 1;
}

.text {
  font-size: 30px;
  opacity: 0;
  font-family: 'Courier New', Courier, monospace;
}

.textAnimation {
  animation: textAnim 0.2s forwards ease-in;
}

@keyframes textAnim {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.color1 {
  background: rgb(242, 247, 250);
}

.color2 {
  background: rgb(255, 255, 255);
}




a {
  color: rgb(24, 24, 24);
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  pointer-events: none;
}

@media (min-width: 800px) {
  h1 {
      font-size: 40px;
  }
}

.pad1 {
  padding: 0 10px;
}

.title {
  color: transparent;  
  text-shadow: 0 0 0 white;
  background: rgb(18, 36, 50);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.title2 {
  color: transparent;  
  text-shadow: 0 0 0 white;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 8px;
  pointer-events: none;
}

p {
  font-size: 20px;
  line-height: 30px;
  pointer-events: none;
}




.intro-right {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 10px;
}

@media (min-width: 800px) {
  .intro-right {
      padding-top: 0;
      justify-content: right;
  }
}

.container1 {
  max-width: 1080px;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;

  padding-right: 0px;
  gap: 20px;
}

@media (min-width: 800px) {
  .row {
      flex-direction: row;

      gap: 20px;
      align-items: center;
  }
}


.col {

}

@media (min-width: 800px) {
    .col-1-2 {
      flex: 0 0 50%;
        
    }

    .col-1-3 {
        flex: 0 0 33.3333%;
    }

    .col-reversed {
      order: -1;
    }
}


.label {
  color: rgba(18, 36, 50, 0.48);
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 4px;
}

.footerLabel {
  color: rgba(18, 36, 50, 0.48);
  font-size: 17px;
  font-weight: 600;
}

@media (min-width: 800px) {
  .label {
      margin-bottom: 10px; 
  }
}

.big-text {

}

@media (min-width: 800px) {
  .big-text {
      font-size: 24px;
      line-height: 26px;

  }
}

.text-right {
  text-align: right;
}

.button {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  padding: 15px 20px;
  border-radius: 30px;
  border: 3px dotted transparent;
  position: relative;
  z-index: 2;
  
}

.button:hover {
	background: rgb(255, 255, 255);
	color: black;
  border: 3px dotted rgb(18, 36, 50);
  box-sizing: border-box;
}

.button-dark {
  background: rgb(36, 71, 95);
  color: white;
}

.button-cta {
  color: rgb(255, 255, 255);
  background: rgb(84, 185, 171);
  padding: 12px 25px;
  border-radius: 22px;
}


.closedEyes{
  height: 25px;
}

.openEyes {
  height: 25px;
  animation: open-animation1 1s ease-in-out forwards;
}

@keyframes open-animation1 {
  0%{
    height: 25px;
  }
  100%{
    height: 0px;
  }
  
}



.mrkani {
  animation: mrkani-animation1 1s ease-in-out  forwards;
}

@keyframes mrkani-animation1 {
  0%{
    height: 0px;
  }
  50%{
    height: 20px;
  }
  100%{
    height: 0px;
  }
  
}

.normal {
  animation: normal-animation1 4s ease-in-out  forwards;
}

@keyframes normal-animation1 {
  0%{
    height: 0px;
  }
  10%{
    height: 15px;
  }
  90%{
    height: 15px;
  }
  100%{
    height: 0px;
  }
  
}

.interest {
  animation: interest-animation1 4s ease-in-out  forwards;
}

@keyframes interest-animation1 {
  0%{
    height: 0px;
  }
  10%{
    height: 10px;
  }
  90%{
    height: 10px;
  }
  100%{
    height: 0px;
  }
  
}



.sadL {
  animation: sadL-animation1 4s ease-in-out  forwards;
}

@keyframes sadL-animation1 {
  0%{
    height: 0px;
    rotate: 0deg;
  }
  10%{
    height: 15px;
    rotate: -20deg;
  }
  90%{
    height: 15px;
    rotate: -20deg;
  }
  100%{
    height: 0px;
    rotate: 0deg;
  }
  
}

.sadR {
  animation: sadR-animation1 4s ease-in-out  forwards;
}

@keyframes sadR-animation1 {
  0%{
    height: 0px;
    rotate: 0deg;
  }
  10%{
    height: 15px;
    rotate: 20deg;
  }
  90%{
    height: 15px;
    rotate: 20deg;
  }
  100%{
    height: 0px;
    rotate: 0deg;
  }
  
}

.projectCard {
  background: rgb(242, 247, 250);
  z-index: 10;
  padding-top: 20px;
  margin-bottom: 30px;
}

.projectCard2 {
  background: rgb(255, 255, 255);
  z-index: 10;
  padding-top: 20px;
  margin-bottom: 30px;
}


.projectCardContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 800px) {
  .projectCardContent {
    flex-direction: row;

  }
}

.projectCardLink{
  color: transparent;  
  text-shadow: 0 0 0 rgb(18, 36, 50);
  font-size: 30px;
}


.fotoTransition{
  width: 20%;
  animation: introAnim 1s linear forwards;
}

@keyframes introAnim {
  0%{
    width: 20%;
  }
  100%{
    width: 0%;
  }
}